@{
    ViewData["Title"] = "Home Page";
}

<div class="container h-100">
    <div class="text-center border-dark" style="border: 1px solid grey;border-radius:20px">
        <h3 class="display-6">Welcome To Axis Accounting System</h3>

        <img src="~/img/accountinglogo.png" width="600px" height="500px" />

    </div>
</div>

